<!-- NAVBAR estilizado -->
<nav class="bg-blue-700 text-white shadow-md">
  <div
    class="max-w-7xl mx-auto px-4 py-3 flex flex-wrap gap-2 justify-center md:justify-between items-center text-sm md:text-base"
  >
    <div class="font-bold text-lg">Restaurante MyC</div>
    <div class="flex flex-wrap justify-center gap-2">
      <a routerLink="/dashboard" class="hover:bg-blue-600 px-3 py-2 rounded"
        >Inicio</a
      >
      <a routerLink="/reserva" class="hover:bg-blue-600 px-3 py-2 rounded"
        >Reservas</a
      >
      <a routerLink="/menu-platos" class="hover:bg-blue-600 px-3 py-2 rounded"
        >Menú</a
      >
      <a routerLink="/pedidos" class="hover:bg-blue-600 px-3 py-2 rounded"
        >Pedidos</a
      >
      <a routerLink="/resenas" class="hover:bg-blue-600 px-3 py-2 rounded"
        >Reseñas</a
      >
      <a
        routerLink="/filtro-resenas"
        class="hover:bg-blue-600 px-3 py-2 rounded"
        >Filtrar Reseñas</a
      >
      <a
        routerLink="/preferencias-cliente"
        class="hover:bg-blue-600 px-3 py-2 rounded"
        >Preferencias</a
      >
      <a
        routerLink="/historial-cliente"
        class="hover:bg-blue-600 px-3 py-2 rounded"
        >Historial</a
      >
    </div>
  </div>
</nav>

<hr class="my-6 border-t-2 border-gray-200" />

<!-- CONTENIDO DINÁMICO -->
<router-outlet></router-outlet>
